<footer id="contacts" class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h4 class="white-text">Interested to talk?</h4>
        <p class="grey-text text-lighten-4">Contact me in my socials.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h4 class="white-text">Contacts</h4>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="https://t.me/skycader">
              <i class="bi bi-telegram"></i>
              Skycader
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a
        class="grey-text text-lighten-3"
        href="https://github.com/Skycader/radon-engine"
        >☢️ Resumee built with Radon Engine</a
      >
      <a class="grey-text text-lighten-4 right" href="#!">Copyright Vodri</a>
    </div>
  </div>
</footer>
