@import "../../../styles.scss";
.brand-logo {
  padding-left: 8px;
}

nav {
  position: fixed;
  top: 0px;
  background: $color-surface2;
  transition-duration: 0.5s;
  z-index: 10;
}

.hide-navbar {
  top: -70px;
}
