<nav [class.hide-navbar]="hideNavbar">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"> 🧑 {{ configService.config.name }}</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="#about"><i class="bi bi-person-fill"></i> About me</a>
      </li>
      <li>
        <a href="#projects"><i class="bi bi-folder-fill"></i> Projects</a>
      </li>

      <li>
        <a href="#contacts"><i class="bi bi-phone-fill"></i> Contact me</a>
      </li>
    </ul>
  </div>
</nav>
