@import "../../../styles.scss";
.brand-logo {
  padding-left: 8px;
  font-size: 25px;
}

nav {
  position: fixed;
  top: 0px;
  background: $color-surface2;
  transition-duration: 0.5s;
  z-index: 10;
}

a {
  display: flex;
  justify-content: space-between;
  font-size: 16px;

  i {
    font-size: 16px;
    margin-right: 5px;
    color: $color-red;
  }
}

.hide-navbar {
  top: -70px;
}
