<div class="row">
  <div class="project-wrapper" appTilt>
    <div class="project-block row">
      <div class="col s12 m6 l6">
        <div class="project-info heading">{{ project.title }}</div>
        <div
          *ngFor="let description of project.description"
          class="project-info flow-text"
        >
          {{ description }}
        </div>

        <br />
        <br />
        <app-details-button
          [detailsUrl]="project.detailsUrl"
        ></app-details-button>
      </div>
      <div class="image col s12 m6 l6">
        <img [src]="project.imageUrl" />
      </div>
    </div>
  </div>
</div>
