/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-surface;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fd4e4e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff5252;
}
