<div class="container">
  <div class="row">
    <app-welcome-message></app-welcome-message>
    <app-avatar></app-avatar>
    <app-info></app-info>
  </div>

  <span id="about" class="heading">About me</span>

  <app-info></app-info>
  <br />
  <hr />
  <br />

  <div class="row">
    <div class="col l6">
      <span class="heading">Core skills</span
      ><app-skill-block></app-skill-block>
    </div>
    <div class="col l6">
      <span class="heading">Languages</span><app-skill-block></app-skill-block>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col l6">
      <span class="heading">Other skills</span
      ><app-skill-block></app-skill-block>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <span class="heading">Projects</span>
</div>
