<div id="root" class="container">
  <div class="row">
    <app-welcome-message></app-welcome-message>
    <app-avatar></app-avatar>
    <br />
    <div class="col s12 m6 l6">
      <app-info [content]="configService.config.info"></app-info>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col s12">
      <span id="about" class="heading">About me</span>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l12">
      <app-info [content]="configService.config.about"></app-info>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <div class="row">
    <div class="col l6">
      <span class="heading">Core skills</span
      ><app-skill-block
        [skills]="configService.config.skills.core"
      ></app-skill-block>
    </div>
    <div class="col l6">
      <span class="heading">Languages</span
      ><app-skill-block
        [skills]="configService.config.skills.languages"
      ></app-skill-block>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col l6">
      <span class="heading">Other skills</span
      ><app-skill-block
        [skills]="configService.config.skills.other"
      ></app-skill-block>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <div class="row">
    <div class="col s12 m12 l12">
      <span id="projects" class="heading">Projects</span>
    </div>
    <div class="col s12 m12 l12">
      <app-projects-list></app-projects-list>
      <app-projects-list></app-projects-list>
      <app-projects-list></app-projects-list>
    </div>
  </div>
</div>
