@import "styles/colors.scss";
@import "styles/fonts.scss";
@import "styles/scrollbar.scss";
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Radon, Roboto, "Helvetica Neue", sans-serif;
  background: $color-surface;
  color: white;
}

* {
  font-family: Radon;
}

.heading {
  display: inline-block;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  border-bottom: 3px solid #f26464;
  padding-bottom: 7px;
  margin-bottom: 23px;
}
