@import "styles/colors.scss";
@import "styles/fonts.scss";
@import "styles/scrollbar.scss";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Radon, Roboto, "Helvetica Neue", sans-serif;
  background: $color-surface;
  color: white;
}

* {
  font-family: Radon;
}
